
accelerate==1.13.0
datasets==4.8.5
gradio==6.14.0
gradio_client==2.5.0
hf-gradio==0.4.1
huggingface_hub==1.12.0
langchain-huggingface==1.2.2
matplotlib==3.10.9
pillow==12.2.0
scikit-learn==1.8.0
seaborn==0.13.2
sentence-transformers==5.4.1
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
transformers==5.6.2

